/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* padding-top: 50px;*/
}

body {
    font-family: 'Varela Round', sans-serif!important;
}

a {
 color: #079ca5;
}

a:hover{
	text-decoration:none;
}

/****
** SEARCH BOX
***/
@import url("assets/css/font-awesome.min.css");

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    float: left;
    width: 61%;
    margin-top: 20px;
}

.search input {
  width: 250px;
  height: 40px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
	font-size: 20px;
    color: #079BA5;
}

.fa-text{
	font-size:15px;
}

#hour-img{
    position: absolute;
    top: -22px;
    left: 186px;
}
/***********/


.clearfix{
	clear:both;
}


div#navbar {
    maring: 0;
    padding: 0;
    margin: 0;
}

ul#menu-header-menu {
    margin: 0;
    padding: 0;
    background-color: #000;
    border-radius: 2px;
}

li.menu-item.menu-item-type-post_type {
    float: left;
    list-style: none;
    padding: 18px 14px 18px 15px;
}

li.menu-item.menu-item-type-post_type a{
	 color: #079ca5;
	 text-transform:uppercase;
	 font-size:18px;
}

li.menu-item.menu-item-type-post_type a:hover{
	color:#fff;
	text-decoration:none;
}


.navbar-header{
	background-color: #000;
}


span.icon-bar{
	background-color: #fff!important;
}

section.site-primary-navigation {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    position: relative;
    min-height: 50px;
	border: 0;
	border-radius:0;
	margin-bottom:0;
}
.navbar-inverse {
    background-color: #fff;
    border-bottom: 6px solid #079ca5;
}

.navbar-brand{
	height:auto;
}

.navbar-brand>img {
    display: block;
    width: 100%;
}


.header-right-box {
    float: right;
    width: 36%;
    margin-bottom: 10px;
    margin-top: 24px;
}
   
div#logo {
    margin: 0 auto;
    padding: 0;
    width: 46%;
    float: left;
}   

div#google_trust {
    float: left;
    width: 39%;
    padding-top: 16px;
}


div#slideshow img{	
	width:100%;
	margin:auto;
	padding:auto;
}

header {
    min-height: 250px;
}

div#slideshow {
    text-align: center;
    margin-left: 0px;
    /*padding-top: 10px;
    border: 1px solid #C9C9C9;*/
    position: relative;
    height: 412px;
    /*padding: 0 30px;*/
    margin-bottom: 10px;
    background-color: #fff;
}

#slider-images {
    position: absolute;
    top: 0px;
    bottom: 10px;
}

.banner{
	position:relative;
}


#main{
	background: url('img/bg.jpg');
}

#main h2{
	color: #DE0000;
}

.box-thumb {
    background-color: #fff;
    border: 1px solid #CBCBCB;
    text-align: center;
    padding: 80px 14px;
    border-radius: 4px;
}

.prod_price{
	color:#079ca5;
	font-size:26px;
}


.btn-default {
    color: #fff;
    background-color: #079ca5;
    border-color: #ccc;
}

.btn{
	padding: 16px 22px;
    margin-bottom: 0;
    font-size: 18px;
	text-transform:uppercase;
}

.btn:hover{
	background-color: #fff;
	border:1px solid #079ca5;
	color:#079ca5;
}


#main-content  .col-md-4{
	text-align:center;
	margin-bottom:20px;
}


#footer-link-main {
    width: 25%;
    float: left;
    margin-left: -4px;
}


#footer-link-main ul li {
    list-style: none;
}

#footer-link-main ul li a {
    font-size: 13px;
    color: #fff;
	text-decoration: none;
}

#footer-link-main ul li a:hover{
	 color: #00787f;
}

#footer-link-secondary {
    width: 36%;
    float: left;
}

#footer-link-secondary ul li {
    list-style: none;
}

#footer-link-secondary ul li a {
    font-size: 16px;
    color: #00787f!important;
    text-decoration: none;
}

#footer-link-secondary ul li a:hover{
	color:#fff!important;
}


div#footer-text {
    width: 34%;
    float: left;
    font-size: 14px;
    color: #fff;
}

.site-footer {
    background-color: #000;
    color: #61656b;
    border-top: 4px solid #079ca5;
	padding-top: 30px;
}

.site-info {
    padding: 2.618em 0;
}

#main-page-content{
	padding:10px 0;
}

#countdown2 {
    color: #DE0000;
    font-size: 30px;
    margin-left: 14px;
}

.timer-area {
	background-color: #008c94;
	padding: 8px 12px;
	color: #fff;
	font-size: 18px;
}

#order-now{
	padding:10px;
	background-color:orange;
}

#order-now a{
	color:#fff;
}

#order-now a:hover{
	color:#000;
}


.text-banner {
    margin-left: 0px;
}

#order-now {
    padding: 4px 21px;
    background-color: orange;
    border-radius: 4px;
    margin-left: 18px;
}


.custom_pick {
    padding: 10px 5px;
}

.nocustom_pick {
    padding: 30px 0;
}

table.table-area-ink-injected-half.uk-table.uk-table-bordered.js-pricing-table {
    overflow: auto;
}


.col-md-3{
	width:20%;
}

/*
.col-md-2 img{
	width:176px;
}

.col-md-2 {
    padding-left: 8px;
}
*/


.col-md-2 {
    padding-left: 3px;
    padding-right: 0px;
    margin-bottom: 6px;
    margin-right: 3px;
	width:33%;
}


.col-md-2 img {
    width: 374px;
}

.images-clips {
    margin-bottom: 20px;
    margin-top: 20px;
}

.price-table .table th:first-child {
    border: 0;
    background: #1b658c;
}

.price-table .table th {
    background: #1c6992;
    color: #fff;
    padding: 10px 30px;
    border-left: 1px solid #1b658c;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu{
	background-color:#000;
	margin:0px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background:none;
	color:#fff;
}

.galleryimg {
    width: 100%;
}

.product-page-temp{
 margin-bottom:40px;	
}

.product-page-temp td, .product-page-temp th{
	padding: 0 9px;
}

.half_sm, .half_bg, .half {
    float: left;
}

.half_sm{
	border: 1px dotted #ccc;
}

.addl_options {
    padding: 0 38px;
}

.addl_options h4{
	color:#17A589;
}

.addl_options p{
	margin-bottom:20px;
}

.size_options td{
	padding: 5px 10px;
}

span.red {
    color: red;
}

.gal{
	height: 195px;
}


.fonts-content li {
    width: 14%!important;
    padding: 8px!important;
    border: 1px solid grey;
	margin-bottom:40px;
}

.clips-content li{
	margin-bottom:40px;
	padding: 2px;
    height: 96px;
}

.colors-content > .pick-solid{
		display:none;
	}
	
.colors-content{
	margin-bottom:30px;
	padding: 8px;
}

.colors-content li a b {
    /* width: 12%!important; */
    padding: 4px!Important;
    text-align: center;
    position: relative;
	font-size:12px;
    /* left: 6px; */
}

.sizes-content ul{
	margin:0;
	padding:0;
}

.sizes-content {
    clear: both;
    margin-bottom: 170px;
}

.sizes-content ul li {
    width: 42%;
    float: left;
    padding: 4px;
    margin-bottom: 30px;
    list-style: none;
    height: 392px;
    margin-left: 10px;
}

.sizes-content ul li img{
	width:100%;
}

.price-cont{
	padding:0;
}



/****
**
**** MEDIA QUERIES
****/


@media screen and (max-width: 1000px) {

   .box-thumb {
		background-color: #fff;
		border: 1px solid #CBCBCB;
		text-align: center;
		padding: 48px!important;
		border-radius: 4px;
	}
	
	.header-right-box {
		float: right;
		width: 48%;
		margin-bottom: 10px;
		margin-top: 24px;
	}
	
	#banner-pricing{
	  overflow-x:auto;
  }
  
  .view-more{
	  padding:8px 16px!important;
  }
}


@media screen and (max-width: 850px) {

  div#slideshow{
	      height: 70px!important;
		  padding:0!important;
  }
  
  li.menu-item.menu-item-type-post_type{
	  float:none!important;
  }
  
  .header-right-box{
	  width:100%!important;
  }
  
  .navbar-brand{
	  padding:4px 4px!important;
  }
  
  .navbar-brand>img{
	  width:auto;
  }
  
  .wrist-style .col-md-4 {
	width: 83%!important;
	padding:0!important;
	margin-left: 33px;
  }
  
  .wrist-size .col-md-4{
	 width: 59%!important;
	 margin: 26px auto!important;
	 padding:0!Important;
  }
  
  .nav.nav-pills {
    margin: 11px auto;
    width: 48%!important;
	}
	
	.box-color input {
    width: 100%!important;}
	
  #footer-link-main, #footer-link-secondary, #footer-text{
	float:none!important;
	width:100%;
  }
  
  #footer-text{
	  margin-top:15px;
	  margin-left:35px;
  }
  
  .box-color{
	  width:100%!important;
	  float:none!important;
  }
  
  .search{
		width:100%!important;
	}
}
@media screen and (max-width: 767px){
	.navbar-brand>img{
	  width: 346px!important;
  }
  .col-xs-3.col-sm-2.offerpv{
	  font-size:31px !important;
  }
  
  .nav.nav-pills {
    width: 96%!important;
	}
	
}















